
body {
    background: radial-gradient(circle,#4307ce, #05010e);
  }
  .logo{
      height: 70px;
  }
  .spider {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
  }
  
  .spider img {
      width: 300px;
      height: auto; 
  }
  p{
    color: #130000;
  }
  main section {
    background-color: #d3a091;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  h3 {
    font-size: 24px;
    color: #28037e;
    margin-bottom: 10px;
    text-align: center;
  }
  h1{
    text-align: center;
  }
  .cabecalho {
  display: flex;
  align-items: center;
   justify-content: space-between;
  padding: 20px;
  gap: 40px;
  }
  .menu {
 font-family: "Syne", sans-serif;
  flex: 1; 
  margin-left: 40px;
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.menu a:hover {
  color: #70a3ee;
}
.spider-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.spider-conteudo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.spider-img {
  max-width: 300px;
  height: auto;
}

.spider-texto {
  max-width: 400px;
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}
h2{
  font-family:"Bungee", sans-serif;
  color: #030303;
}
